doctype

html(lang="ru")
  
  -var active = 'Контакты' //активный пункт меню, список в header.jade
  -var pageTitle = 'Контакты' + ' - Taxi Dinamika' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    // Document head
    .document__head
      .document__head__wrapper(style="background-image: url('./img/document-top-banner2.png')")
        
        .container
          h1 Контакты
          
          .breadcrumbs
            ul
              li
                a(href="#!") Главная
              li
                span Контакты
    
    // Content
    .content
      
      // Content text
      section.section
        .container
          
          // Contacts
          .contacts
            
            .h3.color--dark 117997, г. Москва, ул. Архитектора Власова, д. 55
              br
              span(style="font-size: 22px;") +7(495) 800-80-80
          
            .row
              .col-sm-6
                p 
                  strong(style="font-size: 15px;") Отдел по работе с корпоративными клиентами
                
                table.table
                  tr
                    td
                      i.ion-android-call
                    td 7(495) 500-50-50 доб.8
                  tr
                    td
                      i.ion-android-drafts
                    td
                      a(href="#!") corporate@dinamika.ru
                
                p
                  strong(style="font-size: 15px;") Отдел по работе с водителями
                
                table.table
                  tr
                    td
                      i.ion-android-call
                    td +7 (495) 500-50-50 доб.4
                  tr
                    td
                      i.ion-android-drafts
                    td
                      a(href="#!") drivers@dinamika.ru
                
              .col-sm-6
                p
                  strong(style="font-size: 15px;") Отдел контроля качества
                  
                table.table
                  tr
                    td
                      i.ion-android-call
                    td +7 (495) 500-50-50 доб.1(для клиентов), доб.5 (для водителей)
                  tr
                    td
                      i.ion-android-drafts
                    td
                      a(href="#!") tqm@dinamika.ru
                      
                .contacts__info
                  i ВНИМАНИЕ!!! Претензии по качеству обслуживания принимаются в течение 24 часов с момента события, послужившего основанием претензии
                  
                p
                  strong(style="font-size: 15px;") Отдел сотрудничества
                table.table
                  tr
                    td
                      i.ion-android-drafts
                    td 
                      a(href="#!") cooperate@dinamika.ru
                  tr
                    td
                      i.ion-android-drafts
                    td
                      a(href="#!") marketing@dinamika.ru
      
          // Map
          #google.map
            
          // Google Map
          script(src='https://maps.googleapis.com/maps/api/js?sensor=false')
          script.
            function initialize() {
            var myLatlng = new google.maps.LatLng(55.664256,37.5411063);
            var map_options = {
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            center: myLatlng,
            scrollwheel: false,
            disableDefaultUI: true
            }
            var map = new google.maps.Map(document.getElementById('google'), map_options)
            var myIcon = new google.maps.MarkerImage('./img/icon-map.png', null, null, null, new google.maps.Size(95,96));
            var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            icon: myIcon
            });
            /* Remove if you dont want B/W Google Map */
            /*
            var styles = [
            {
            featureType: "all",
            stylers: [
            { saturation: -100 }
            ]
            }
            ];
            map.setOptions({styles: styles});
            */
            }
            google.maps.event.addDomListener(window, 'load', initialize);
          // Google Map Ends!

      
      // Section
      section.section.no--padding
        .container
          
          // Special block
          .s-block.s-block--contacts
            .s-block__title остались вопросы?
            .s-block__wrapper
              
              form(action="#")
                fieldset.contacts__fieldset
                  .row
                    .col-sm-4
                      .form-group.form-group--after.has-feedback.has-error
                        label.hidden Ваше имя
                        input(type="text" placeholder="Ваше имя").form-control
                        i.ion-alert-circled.form-control__feedback
                          
                    .col-sm-4
                      .form-group.form-group--after.has-feedback
                        label.hidden Почта
                        input(type="text" placeholder="Почта").form-control
                        i.ion-alert-circled.form-control__feedback
                          
                    .col-sm-4
                      .form-group.form-group--after.has-feedback
                        label.hidden Телефон
                        input(type="text" placeholder="Телефон").form-control
                        i.ion-alert-circled.form-control__feedback
                          
                  .row
                    .col-xs-12
                      .form-group.form-group--after.has-feedback
                        label.hidden Ваше сообщение
                        textarea(placeholder="Ваше сообщение").form-control
                        i.ion-alert-circled.form-control__feedback
                          
                  .row
                    .col-sm-8
                      label.form-checkbox(for="checkbox").form-checkbox--contacts
                        input#checkbox(type="checkbox" checked).form-checkbox__input
                        span.form-checkbox__span
                        span.form-checkbox__label Согласен на обработку личных данных. 
                          a(href="#!" target="_blank") Политика конфиденциальности
                    .col-sm-4
                      button(type="submit").btn.btn--border.btn--contacts
                        span Отправить
      
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    include ./_include/_footer-js
    // Load Scripts
    script(src="./js/libs.js")
    script(src="./js/common.js")
    include ./_include/_js-body-bottom
