doctype

html(lang="ru")
  
  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Taxi Dinamika' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    // Content
    .content
      
      // Section top
      section.section.about
        .container
          
          .about__wrapper
          
            .about__button
              a(href="#popup-call").open-popup-link
                span Вызвать такси
              a(href="#!")
                span Стать партнером
            
            .about__partners
              .about__partners__title Являемся партнерами
              img(src="./img/about-partners.png", alt="")
              
            .about__text
              .about__text__line 
              span такси
              strong 
                span Лучшего качества
                small по оптимальной стоимости для наших клиентов!
      
      // Tarif
      section.section.tarif.tarif--index
        .container
          
          .tarif__wrapper
            .tarif__wrapper__first
              // Nav tabs
              .tarif__navigation.tarif__navigation--index
                .tarif__menu__background
                  
                .tarif__button
                  .tarif__button__wrapper
                    p Выберите класс автомобиля
                    button#btn-mobile-tarif
                      strong 
                        span Стандарт
                        i.ion-arrow-down-b
                          
                ul.tarif__tab.tarif__tab--index(role='tablist')
                  li(role='presentation')
                    a(href='#tarif1', aria-controls='tarif1', role='tab', data-toggle='tab') 
                      span Стандарт
                  li(role='presentation')
                    a(href='#tarif2', aria-controls='tarif2', role='tab', data-toggle='tab') 
                      span Комфорт
                  li(role='presentation')
                    a(href='#tarif3', aria-controls='tarif3', role='tab', data-toggle='tab') 
                      span Бизнес
                  li(role='presentation')
                    a(href='#tarif4', aria-controls='tarif4', role='tab', data-toggle='tab') 
                      span VIP
                  li(role='presentation')
                    a(href='#tarif5', aria-controls='tarif5', role='tab', data-toggle='tab') 
                      span Минивен
          
            .tarif__wrapper__last
              
              .tarif__main
                .tarif__main__minute-price
                  strong 19 
                    i.fa-rouble
                  small минута
                .tarif__main__content
                  .tarif__main__content__wrapper
                    .tarif__main__title Оплачиваемый пробег
                    table
                      tr
                        td.td__name
                          span
                            span Минимальная стоимость 1 км
                        td
                          strong 30 руб.
                      tr
                        td.td__name
                          span
                            span Минимальная стоимость 1 мин.
                        td
                          strong 13 руб.
                      tr
                        td.td__name
                          span
                            span Движение за МКАД
                        td
                          strong 15 руб./км
                      tr
                        td.td__name
                          span
                            span Подача за МКАД
                        td
                          strong 5 руб./км 
                      tr
                        td.td__name
                          span
                            span Отказ от поездки в аэропорту
                        td
                          strong 200 рублей
                      tr
                        td.td__name
                          span
                            span Отказ от поездки в городе
                        td
                          strong 50 рублей
                        
                .tarif__main__auto.tarif__main__auto--zero
                  .tarif__main__auto__wrapper
                    img(src="./img/tarif-auto.png", alt="").img
              
              // Tab panes
              .tarif__tab-content.tarif__tab-content--index
                #tarif1.tab-pane(role='tabpanel')
                  
                  .tarif__main
                    .tarif__main__price
                      strong 100
                        i.fa-rouble
                      small ЗА ПЕРВЫЕ 10 МИНУТ
                    .tarif__main__auto.tarif__main__auto--animation
                      .tarif__main__auto__wrapper.tarif__main__auto__wrapper--one
                        img(src="./img/tarif-auto-full-1-without-weel.png", alt="").img
                        img(src="./img/tarif-auto-full-1-weel.png", alt="").wheel.wheel--one
                        img(src="./img/tarif-auto-full-1-weel.png", alt="").wheel.wheel--two
                    
                #tarif2.tab-pane(role='tabpanel')
                  
                  .tarif__main
                    .tarif__main__price
                      strong 249
                        i.fa-rouble
                      small ЗА ПЕРВЫЕ 10 МИНУТ
                    .tarif__main__auto.tarif__main__auto--animation
                      .tarif__main__auto__wrapper.tarif__main__auto__wrapper--two
                        img(src="./img/tarif-auto-full-2-without-weel.png", alt="").img
                        img(src="./img/tarif-auto-full-2-weel.png", alt="").wheel.wheel--one
                        img(src="./img/tarif-auto-full-2-weel.png", alt="").wheel.wheel--two
                  
                #tarif3.tab-pane(role='tabpanel')
                  
                  .tarif__main
                    .tarif__main__price
                      strong 350
                        i.fa-rouble
                      small ЗА ПЕРВЫЕ 10 МИНУТ
                    .tarif__main__auto.tarif__main__auto--animation
                      .tarif__main__auto__wrapper.tarif__main__auto__wrapper--three
                        img(src="./img/tarif-auto-full-3-without-weel.png", alt="").img
                        img(src="./img/tarif-auto-full-3-weel.png", alt="").wheel.wheel--one
                        img(src="./img/tarif-auto-full-3-weel.png", alt="").wheel.wheel--two
                      
                #tarif4.tab-pane(role='tabpanel')
                  
                  .tarif__main
                    .tarif__main__price
                      strong 850
                        i.fa-rouble
                      small ЗА ПЕРВЫЕ 10 МИНУТ
                    .tarif__main__auto.tarif__main__auto--animation
                      .tarif__main__auto__wrapper.tarif__main__auto__wrapper--four
                        img(src="./img/tarif-auto-full-4-without-weel.png", alt="").img
                        img(src="./img/tarif-auto-full-4-weel.png", alt="").wheel.wheel--one
                        img(src="./img/tarif-auto-full-4-weel.png", alt="").wheel.wheel--two
                      
                #tarif5.tab-pane(role='tabpanel')
                  
                  .tarif__main
                    .tarif__main__price
                      strong 1850
                        i.fa-rouble
                      small ЗА ПЕРВЫЕ 10 МИНУТ
                    .tarif__main__auto.tarif__main__auto--animation
                      .tarif__main__auto__wrapper.tarif__main__auto__wrapper--five
                        img(src="./img/tarif-auto-full-5-without-weel.png", alt="").img
                        img(src="./img/tarif-auto-full-5-weel.png", alt="").wheel.wheel--one
                        img(src="./img/tarif-auto-full-5-weel.png", alt="").wheel.wheel--two
      
      // Section additional
      section.section.additional
        .container
          
          .additional__top
          .additional__bottom
            
          .additional__wrapper
            .additional__title Дополнительные услуги
            
            ul.additional__list
              li
                div
                  i.icon.icon--add-1
                  span Перевозка животного
                  strong 300
                    i.icon-rouble
              li
                div
                  i.icon.icon--add-2
                  span Перевозка багажа в салоне
                  strong 300
                    i.icon-rouble
              li
                div
                  i.icon.icon--add-3
                  span Встреча с табличкой
                  strong 300
                    i.icon-rouble
              li
                div
                  i.icon.icon--add-4
                  span Помощь в доставке багажа
                  strong 600
                    i.icon-rouble
              li
                div
                  i.icon.icon--add-5
                  span Кузов универсал
                  strong 600
                    i.icon-rouble
              li
                div
                  i.icon.icon--add-6
                  span Детское кресло или бустер
                  strong 300
                    i.icon-rouble
              li
                div
                  i.icon.icon--add-7
                  span Перевозка лыж/сноуборда
                    br
                    small (за единицу)
                  strong 900
                    i.icon-rouble
              li
                div
                  i.icon.icon--add-8
                  span VIP сопровождение
                  strong 900
                    i.icon-rouble

      // Section driver
      section.section.driver
        .container
          
          img.driver__img(src="./img/driver-img.png", alt="").visible-xs
          .driver__block
            .driver__block__wrapper
              
              .driver__title СТАНЬ ВОДИТЕЛЕМ
                small И ПОЛУЧАЙ ДОХОД УЖЕ СЕГОДНЯ

              a(href="#!").btn.btn--register.btn--driver
                span зарегистрироваться
              
          img.driver__img(src="./img/driver-img.png", alt="").hidden-xs
          
          .driver__figure.hidden-sm.hidden-xs
            div
            div
              i.icon.icon--taxi
    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    include ./_include/_footer-js
    // Load Scripts
    script(src="./js/libs.js")
    script(src="./js/libs/gsap/TweenMax.min.js")
    script(src="./js/common.js")
    include ./_include/_js-body-bottom
