doctype

html(lang="ru")
  
  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Taxi Dinamika' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    // Content
    .content
      
      // Section top
      section.section.about
        .container
          
          .about__wrapper
          
            .about__button
              a(href="#!")
                span Вызвать такси
              a(href="#!")
                span Стать партнером
            
            .about__partners
              .about__partners__title Являемся партнерами
              img(src="./img/about-partners.png", alt="")
              
            .about__text
              .about__text__line 
              span такси
              strong 
                span Лучшего качества
                small по оптимальной стоимости для наших клиентов!
      
      .clear50
      
      // Section additional
      section.section.additional
        .container
          
          .additional__top
          .additional__bottom
            
          .additional__wrapper
            .additional__title Дополнительные услуги
            
            ul.additional__list
              li
                div
                  i.icon.icon--add-1
                  span Перевозка животного
                  strong 300
                    i.icon-rouble
              li
                div
                  i.icon.icon--add-2
                  span Перевозка багажа в салоне
                  strong 300
                    i.icon-rouble
              li
                div
                  i.icon.icon--add-3
                  span Встреча с табличкой
                  strong 300
                    i.icon-rouble
              li
                div
                  i.icon.icon--add-4
                  span Помощь в доставке багажа
                  strong 600
                    i.icon-rouble
              li
                div
                  i.icon.icon--add-5
                  span Кузов универсал
                  strong 600
                    i.icon-rouble
              li
                div
                  i.icon.icon--add-6
                  span Детское кресло или бустер
                  strong 300
                    i.icon-rouble
              li
                div
                  i.icon.icon--add-7
                  span Перевозка лыж/сноуборда
                    br
                    small (за единицу)
                  strong 900
                    i.icon-rouble
              li
                div
                  i.icon.icon--add-8
                  span VIP сопровождение
                  strong 900
                    i.icon-rouble
          
      
      // Section driver
      section.section.driver
        .container
          
          img.driver__img(src="./img/driver-img.png", alt="").visible-xs
          .driver__block
            .driver__block__wrapper
              
              .driver__title СТАНЬ ВОДИТЕЛЕМ
                small И ПОЛУЧАЙ ДОХОД УЖЕ СЕГОДНЯ

              a(href="#!").btn.btn--register.btn--driver
                span зарегистрироваться
              
          img.driver__img(src="./img/driver-img.png", alt="").hidden-xs
          
          .driver__figure.hidden-sm.hidden-xs
            div
            div
              i.icon.icon--taxi
    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    include ./_include/_footer-js
    // Load Scripts
    script(src="./js/libs.js" async)
    script(src="./js/common.js" async)
    include ./_include/_js-body-bottom
