// Header
header.header
  .container
    
    -var navigation = { 'Главная': '#', 'Тариф': '#', 'Для водителей': '#', 'Контакты': '#', 'О компании': '#'};
    
    .header__logo
      a(href="#!")
      img(src="./img/logo.png", alt="")    
    
    .header__phone
      a(href="callto:") 
        strong +7 (495) 800-80-80
        
    .header__menu__background
      
    .header__button
      .header__button__wrapper
        button#btn-mobile.hamburger(type='button').hamburger--slider.hamburger--header
          span.hamburger-box
            span.hamburger-inner
          strong Меню сайта
    
    nav.header__navigation(role="navigation")
      ul
        each val, key in navigation
          if active === key
            li.active
              a(href=val, title=key)= key
          else
            li
              a(href=val, title=key)= key

//- .header-separator
