/*==========  Desktop First Method  ==========*/

/* 1920 */
@media only screen and (min-width : 1999px)
  /**/

@media only screen and (max-width : 1599px)
  /**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1439px)
  /**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
  .header
    &__phone
      font-size: rem(26)
    &__navigation
      padding-left: 163px
      padding-right: 243px
      ul
        padding-left: 15px
        li
          &>a, &>span
            padding: 0 6px
  .driver
    &__block
      height: 252px
      width: 414px
    &__title
      font-size: rem(32)
      margin-bottom: 30px
      small
        font-size: rem(15)
    &__img
      width: 413px
    &__figure
      right: 0
      margin-top: -83px
      &>div
        &:first-child
          height: 99px
          width: 133px
        &:last-child
          height: 50px
          width: 82px
          margin-top: -50px
          margin-left: 85px
          .icon
            left: 21px
            top: 10px
  .additional
    &__list
      li
        &>div
          padding-left: 50px
          padding-right: 50px
    &__title
      margin-bottom: 30px
    &__bottom
      margin-left: 632px
  .about
    &__wrapper
      height: 625px
    &__button
      top: 95px
    &__text
      height: 93px
      &>strong
        font-size: rem(48)
        bottom: 3px
        right: 23px
        small
          font-size: rem(17)
          margin-top: 10px
      &>span
        font-size: rem(97)
      &__line
        height: 93px
        margin-left: 375px
      &>span
        bottom: -15px
    &__partners
      bottom: 120px
  .s-block
    padding-left: 27px
    padding-right: 27px
    &__title
      left: 10px

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
  .header
    &__navigation
      display: none
      z-index: 200
      width: 290px
      background: $color-white
      position: absolute
      left: 50%
      transform: translateX(-50%)
      top: 65px
      padding: 0
      ul
        display: block
        padding-left: 0
        li
          display: block
          &>a, &>span
            display: block
            height: 46px
            line-height: 46px
            text-align: center
            border-bottom: 1px solid #f4f4f4
          &>a
            &:hover
              background: $color-red
              color: $color-white
          &:last-child
            &>a, &>span
              border-bottom: 0
          &.active
            &>a, &>span
              background: $color-red
              color: $color-white
    &__button
      display: block
    &.is-active
      .header__navigation
        display: block
  .footer
    &__social
      float: left
      margin-right: 0
  .driver
    padding-top: 75px
    .container
      // background: pink
    &__img
      float: right
      margin-right: -60px
      margin-top: -263px
    &__block
      width: 372px
      margin-left: 15px
    &__title
      padding-right: 30px
  .btn
    &--driver
      margin-left: 45px
  .additional
    &__list
      li
        width: 50%
    &__bottom
      margin-left: 375px
      height: 45px
    &__wrapper
      padding-bottom: 60px
  .about
    background:
      image: url('../img/about-background-mobile.png')
      size: cover
    &__wrapper
      height: 522px
    &__button
      top: 39px
      &>a
        height: 120px
    &__partners
      bottom: 118px
      right: 10px
      &__title
        color: $color-red
    &__text
      bottom: 10px
      &__line
        margin-left: 0
        left: -100%
        right: -100%
        width: auto
      &>span
        bottom: 78px
      &>strong
        right: inherit
        left: 0
        bottom: 9px
  .advantages
    &__block
      margin-bottom: 25px !important
    .s-block__wrapper
      &>.row
        &:last-child
          .advantages__block
            &:last-child
              margin-bottom: 0 !important
  .img--document
    display: block
    margin: 0 auto
  .two-button
    &__wrapper
      &>a
        height: 100px
        width: 296px
        font-size: rem(25)
        &::before
          border-top-width: 100px
        &:last-child
          width: 270px
          &::before
            border-bottom-width: 100px

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)

  .animated
    transition-property: none !important
    transform: none !important
    animation: none !important

  .header
    height: 112px
    &__button
      position: absolute
      bottom: 14px
      left: 0
      width: 100%
      margin: 0
      transform: skewX(0)
      &__wrapper
        transform: skewX(0)
        text-align: center
    &__navigation
      top: 105px
    &__logo
      margin-top: 17px
      img
        width: 128px
    &__phone
      height: 68px
      line-height: 68px
  .driver
    padding-top: 55px
    &__img
      float: none
      margin: 0 auto
      display: block
      transform: translateX(45px)
    &__block
      margin: -21px auto 0
      float: none
  .additional
    &__list
      li
        width: 100%
        padding: 0
        &+li
          margin-top: 5px
        &>div
          padding-left: 65px
          padding-right: 55px
          height: auto
          min-height: 43px
    &__top, &__bottom
      display: none
    &__wrapper
      padding: 30px 0 15px 0
    &__title
      text-align: left
      margin-top: 0
      margin-bottom: 25px
  .about
    background-position: 0 0
    .container
      background: rgba($color-black,0.4)
    &__wrapper
      height: 538px
    &__button
      top: 64px
      &>a
        height: 55px
        width: 338px !important
        &::before
          border-top-width: 55px !important
        &:last-child
          margin-top: 69px
        &>span
          bottom: 11px
    &__partners
      bottom: 260px
      right: 0px
    &__text
      bottom: 44px
      &>strong
        font-size: rem(41)
        bottom: inherit
        top: 14px
        small
          font-size: rem(14)
  .document
    &__head
      &__wrapper
        height: 175px
  .two-button
    &__wrapper
      &>a
        height: 70px
        width: 210px
        font-size: rem(17)
        &+a
          margin-left: 15px
        &::before
          border-top-width: 70px
          border-right-width: 14px
          left: -14px
        &:last-child
          width: 190px
          &::before
            border-bottom-width: 70px
            border-left-width: 14px
            right: -14px
  .contacts
    margin-bottom: 20px
  .btn
    &--contacts
      float: none
      max-width: 195px
      margin: 20px auto 0
      display: block

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
  .header
    // height: 117px
    &__logo
      // margin-top: 18px
    &__phone
      height: 73px
      line-height: 73px
      font-size: rem(16)
  .driver
    &__block
      transform: skewX(0)
      width: calc(100% + 30px)
      margin-left: -15px
      margin-top: -17px
      &__wrapper
        transform: skewX(0)
    &__title
      width: 290px
      text-align: center
      float: none
      margin-left: auto
      margin-right: auto
      white-space: nowrap
      padding: 0
      font-size: rem(29)
      small
        font-size: rem(14)
        margin-top: 16px
    &__img
      transform: translateX(0)
      width: 330px
      margin: 0 auto
  .btn
    &--driver
      margin: 0 auto
      display: block
      max-width: 285px
      min-width: inherit
      width: 100%
  .additional
    &__title
      text-align: center
      line-height: 1.2
      margin-bottom: 15px
  .about
    &__wrapper
      height: 504px
    &__button
      top: 26px
      &>a
        height: 42px
        width: 260px !important
        font-size: rem(21)
        &::before
          border-top-width: 42px !important
        &:last-child
          margin-top: 55px
        &>span
          bottom: 10px
    &__partners
      bottom: 187px
      img
        width: 286px
    &__text
      bottom: 9px
      &>strong
        font-size: rem(27)
        bottom: 11px
        span
          white-space: nowrap
        small
          line-height: 1.2
      &>span
        font-size: rem(83)
  .popup
    padding: 25px 10px 10px 10px
    fieldset
      padding: 30px 20px 20px 20px
    &__legend
      font-size: rem(20)
      padding: 0 10px
      left: 15px
      top: -13px
  .s-block
    margin-left: -15px
    margin-right: -15px
    padding-left: 34px
    padding-right: 10px
    &__wrapper
      overflow: hidden
    &__title
      left: 17px
      top: inherit
      bottom: 100%
      transform: translateY(14px)
    &--contacts
      margin-top: 30px
      padding-left: 25px
      .s-block__wrapper
        padding-right: 20px
        padding-left: 7px
  .form-checkbox--contacts, .form-radio--contacts
    margin-left: -6px
  .advantages
    padding-top: 30px
  .h1, h1
    font-size: rem(30)
  .two-button
    &__wrapper
      position: relative
      +clearfix
      width: 244px
      margin: 0 auto
      height: 152px
      &>a
        position: absolute
        bottom: 0
        left: 17px
        &:last-child
          bottom: inherit
          top: 0
          left: inherit
          right: 17px

/* Custom, iPhone Retina */
@media only screen and (max-width : 319px)
  /**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  /**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
  /**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  .container
    width: 750px

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  .container
    width: 970px

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  .container
    width: 1170px

/* 1440 */
@media only screen and (min-width : 1440px)
  /**/

@media only screen and (max-width : 1600px)
  /**/

/* 1920 */
@media only screen and (min-width : 1920px)
  /**/
